.student-info__title{
    margin: 30px 0 15px 0;
    font-style: italic;
}

.form-label {
   color: #266150;
   font-weight: bold;
}

.deletesubject {
    align-self: flex-end;
    button {
        background: none;
        border: none;
        color: red;
    }
}

.addSubjectBtn {
    cursor: pointer;
    display: flex;
    align-items: center;
    & button {
        border: none;
    }
}