#toggle {
    height: 0;
    overflow: hidden;
    transition: height 500ms ease-out;
    &.visible {
        height: 470px
    }
}

.deletesubject {
    align-self: flex-end;
    padding-left: 0;
}






// .page {
//     position: absolute;
//     top: 100px;
//     left: 0;
//     right: 0
// }

// .fade-enter{
//     opacity: 0;
//  }
//  .fade-exit{
//     opacity: 1;
//  }
//  .fade-enter-active{
//     opacity: 1;
//  }
//  .fade-exit-active{
//     opacity: 0;
//  }
//  .fade-enter-active,
//  .fade-exit-active{
//     transition: opacity 500ms;
//  }