.cursor {
    cursor: pointer
}

.table-align-right {
    td {
        :last-child {
            text-align: right
        }
    }
}

.icons {
    height: 45px;
    width: 45px;
    text-align: center !important
}



.icon {
    margin-left: 5px;
}