.login__background{
    align-items: center;
    background-color: rgba(0, 0, 0, 0.76);
    display: flex;
    height: 100vh;
    width: 100vw;
}

.login__title {
    color: rgba(0, 0, 0, 0.76);
    font-family: 'Kaushan Script', cursive;
}

.login__submitBtn {
    background-color: rgba(0, 0, 0, 0.76);
    border-radius:15px;
    color: #efefef;
    font-weight: bold;
    padding: 5px 10px;
    text-transform: uppercase;
}

.login__card{
    background-color: #efefef;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 10%;
}

.login__label {
    color: rgba(0, 0, 0, 0.76);
}

.login__password{
    position: relative;
}

.login__password-icon {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.2);
    position: absolute;
    right: 10px;
    top: 40px;
    :hover {
        color: rgba(0, 0, 0, 0.7);
    }
}