.btn-cog{
    padding: 0;
    background: none;
    border: none;
    color: rgba(255,255,255,.55);
    &:hover {
        color:#6c757d;
        background: none;
        transform: rotate(20deg)
    }
    &:focus {
        background: none;
        border: none;
        box-shadow: none;
        outline: none;
    }
}

.dropdown-toggle::after {
    display: none;
}

.navbar__logo{
    font-family: 'Kaushan Script', cursive;
}

